


body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    background-image: url('Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    width: 0; 
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 15px 0; 
    text-align: center;
    border-radius: 0px 0px 10px 10px; 
}

.top-bar a {
    text-decoration: none;
    color: #ccc; 
    margin: 0 15px;
    cursor: pointer;
}

.top-bar a:hover {
    color: #fff; 
}

h1 {
    
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffffff;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffffff;
}

p {
    font-size: 24px;
    color: #d6d6d6;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.content {
    height: 1300px;
    text-align: center;
    
}

.progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
  }

  html {
    scroll-behavior: smooth;
  }

iframe {
    border-radius: 25px;
  }